.header__heading {
  display: flex;
  flex-direction: column;
  grid-area: "heading";
  align-items: center;
  row-gap: 5px;
  padding: 0 50px;
}

@media (width < 1024px) {
  .header__heading {
    order: -1;
  }
}

@media (width < 768px) {
  .header__heading {
    padding: 5px;
  }
}
