.page {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--page-gap, calc(100vh / 18));
  inline-size: 100vw;
  min-inline-size: 320px;
  max-inline-size: 1440px;
  block-size: 100vh;

  /* max-block-size: 1024px; */
  padding: 20px 40px;
  color: var(--text-color-main, #fff);
  background-color: var(--decoration-gradient-color, #ab0303);
}

.page::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 1;
  display: block;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
}

.page::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 1;
  display: block;
  background: linear-gradient(
      180deg,
      var(--decoration-gradient-color, #ab0303) 0,
      rgb(164 109 109 / 0%) 40%
    ),
    linear-gradient(
      90deg,
      var(--decoration-gradient-color, #ab0303) 0,
      rgb(164 109 109 / 0%) 40%
    );
}

@media (width < 768px) {
  .page {
    padding: 0;
  }
}
